body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
form {
    display: inherit;
    flex-direction: inherit;
}
#messege1 {
    color: #eb4034;
}
input[type=submit],input[type=submit]  {
margin: 10px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
#submit {
    background-color: lightgreen;
  }
  #reset {
      background-color: lightblue;
  }
  #error {
      display: none;
      color: red;
  }
  input:invalid {
    color: red;
  }
#message1 {
    display: none;
}